body {
    padding-top: 70px;
    background-color: #f8f9fa;
  }

  .container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .container-fluid {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
  }

  h2 {
    color: #007bff;
  }

  table {
    width: 100%;
  }

  th, td {
    text-align: center;
  }

  th {
    background-color: #007bff;
    color: #fff;
  }

  tbody tr:hover {
    background-color: #f8d7da;
  }


  .action-buttons {
    display: flex;
    justify-content: space-around;
  }

  .navbar {
    background-color: #007bff;
  }

  .navbar-brand,
  .navbar-nav .nav-link {
    color: #fff !important;
  }

  .navbar-toggler-icon {
    background-color: #fff;
  }

    .modal-custom-width {
        max-width: 100%;
    }

